body {
  background-color: orange;
}
h1 {
  background-color: red;
  color: white;
  font-size: 4em;
  line-height: 4em;
  text-align: center;
  font-family: 'Righteous', Georgia, serif;
  border-radius: 25px;
}
h3 {
  text-align: center;
}
ul {
  background-image: url("../img/pizza.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 50px;
  padding-bottom: 50px;
}
